h1{
  text-align: center;
	color: black;
}

h2 {
 text-align: center;
}


#main {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%

}
ul li{
	display: inline-block;
	/*width: 20%;*/
	color: black;
}

