h1 {
	text-align: center;
}
h2 {
	text-align: center;
	color: #ccffff;

}
h4{
	text-align: center;
}
p, pre {
	margin-right: auto;
	margin-left: auto; 
	width: 90%;
	padding: auto;
	line-height: 2em;
	}
	img {
		width: 20%;
		left: 40%;
		position: relative;
		
	}